.cardStyle img{
    /* float: left; */
    width:  170px;
    height: 200px;
    object-fit: contain; 
}

.cardStyle p{
    max-width: 100px;
    height: 70px;
    text-overflow: ellipsis;
    margin:0;
    white-space: wrap;  
    overflow: hidden;  
    float: left;

}

.cardStyle {
    border: 1px solid #333333;
    width: 180px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
}

.imageContainer{
    width: 170px;
    height: 200px;

}

.buttonDivision{
    height: 26px;
    border: none;  
    width:50%;  
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(19, 148, 2);
    color: white;
}

.quantityButton{

    border: none;
    height: 100%;
    width: 30%;
    padding: 0px;
    border-radius: 20px;
    background-color: rgb(19, 148, 2);
    color: white;
    font-size: 1rem;


}

.addCartButton:hover{
    background-color:rgb(19, 148, 2);
    color: white;

}


.addCartButton{
    background-color: white;
    border: 1px solid rgb(19, 148, 2);
    height: 26px;
    width: 100%;
    font-size: 0.9rem;
    border-radius: 20px;

}

.addCartContainer{
    min-width: 50%;


}