.cardStyle img{
    /* float: left; */
    width:  170px;
    height: 200px;
    object-fit: contain; 
}

.cardStyle p{
    max-width: 100px;
    height: 70px;
    text-overflow: ellipsis;
    margin:0;
    white-space: wrap;  
    overflow: hidden;  
    float: left;
    font-size: 1.2rem;

}

.cardStyle {
    border: 2px solid #c5c5c5;
    width: 180px;
    height: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin:10px;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}
.cardStyle:hover{
    box-shadow: 0px 4px 10px rgb(19, 148, 2);
    

}

.imageContainer{
    width: 170px;
    height: 200px;

}

.highlightCard{
    border:2px solid rgb(19, 148, 2);
}

.buttonDivision{
    height: 30px;
    border: none;  
    width:70%;  
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(19, 148, 2);
    color: white;
}

.quantityButton{

    border: none;
    height: 100%;
    width: 30%;
    padding: 0px;
    border-radius: 20px;
    background-color: rgb(19, 148, 2);
    color: white;
    font-size: 1.5rem;
    cursor: pointer;


}

.addCartButton:hover{
    background-color:rgb(19, 148, 2);
    color: white;
    cursor: pointer;

}


.addCartButton{
    background-color: white;
    border: 1px solid rgb(19, 148, 2);
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 20px;

}

.addCartContainer{
    min-width: 70%;


}